services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    restart: unless-stopped
    mem_limit: 1g
    environment:
      - NODE_ENV=production
      - AWS_DEFAULT_REGION=ap-south-1
      - PORT=5000
      - MONGODB_URI=mongodb+srv://ialimurtaza007:alimurtaza07@royalcluster.ciyrs9l.mongodb.net/?retryWrites=true&w=majority&appName=royalcluster
      - ACCESS_TOKEN_SECRET=877d6c35515ca30a2a3e10436264d422
      - REFRESH_TOKEN_SECRET=f37b721adbb5b4487f821b2bd15da243
      - ADMIN_EMAIL=royaldigitalmart@gmail.com
      - ADMIN_PASSWORD=admin123
      - AWS_ACCESS_KEY_ID=AKIA4TWKL57652S6MMQ2
      - AWS_SECRET_ACCESS_KEY=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
      - AWS_S3_BUCKET_NAME=rdgm-bucket-new
      - S3_BUCKET_NAME=rdgm-bucket-new
      - AWS_REGION=ap-south-1
    
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    restart: unless-stopped
    mem_limit: 512m
    environment:
      - NODE_ENV=production
      - NEXT_PUBLIC_API_URL=https://royaldgmart.com
      - INTERNAL_API_URL=http://backend:5000
      - PORT=3000
    depends_on:
      - backend
